<div class="interior">
    <div class="interior-top">
        İNTERYER DİZAYN
    </div>
    <div class="cover">
        <div class="img">
            <p>Hər şey buradan başlayır. Peşəkar dizayn, peşəkar nəticələr gətirir. Renova sizin xəyallarınızı başa düşməkdə, onları dizayn etməkdə və həyata keçirməkdə ustadır.</p>
        </div>
    </div>
    <div class="desc container">
        <p>Məkanın rahatlığı hər şeydən önəmlidir. Təmirdə bu önəmli xüsusiyyəti gözəl anlayır və rahatlığınızı hər şeydən üstün tuturuq. Məkanda nəyi hara yerləşdirim deyə düşünməyəcəksiniz. Təcrübəli dizaynerlərimiz mənzilinizi elə dizayn edəcək ki, mənziliniz
            həm göz oxşayacaq, rahatlıq bəxş edəcək. Məkanınızda Günəşin düşmə bucağından, oturmaq üçün ən rahat nöqtələrə qədər hər incə detalı nəzərə alaraq interyer dizaynını hazırlayırıq.</p>
    </div>

    <div class="steps">
        <div class="container">
            <div class="steps-top">Xəyalınızdakı dizayn 3 addımda</div>
            <div class="steps-main">
                <img src="../../assets/images/interior2.png" class="vertical" alt="steps">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title">Xəyalınız</div>
                        <div class="description">İlkin olaraq xəyalınızı dəqiq anlamaq üçün brif alınır</div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">Dizayn</div>
                        <div class="description">Alınan brifə əsasən dizayn eskizləri hazırlanır</div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">Təhvil</div>
                        <div class="description">Razılaşdırılmış vaxtda dizayn təhvil verilir.</div>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/interior1.png" class="horizontal" alt="steps">
        </div>
    </div>
</div>