<div class="categories">
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="category-col">
                <div class="title">TƏMİR</div>
                <img src="../../assets/images/repair.png" alt="repair">
                <p>Mənzil, restoran, ofis və bu kimi digər obyektlərin təmirini müasr texnologiya yüksək səviyyədə və vaxtında yerinə yetiririk</p>
                <button routerLink="/repair" class="btn">DAHA ÇOX</button>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="category-col">
                <div class="title">TİKİNTİ</div>
                <img src="../../assets/images/furniture-and-household.png" alt="furniture">
                <p>Ev, villa, bina və digər obyektlərin tikintisini sifarişçinin istəyinə və ya layihəyə əsasən yerinə yetiririk</p>
                <button routerLink="/building" class="btn">DAHA ÇOX</button>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="category-col">
                <div class="title">İNTERYER DİZAYN</div>
                <img src="../../assets/images/stair.png" alt="stair">
                <p>Göz oxşayan, təkrarolunmaz interyer dizayn yaratmaq bizim işimizdir</p>
                <button routerLink="/interior-design" class="btn">DAHA ÇOX</button>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="category-col">
                <div class="title">EKSTERYER DİZAYN</div>
                <img src="../../assets/images/sketch.png" alt="sketch">
                <p>Məkanınızın kənardan çox cəlbedici görünməsi üçün estetik eksteryer dizayn yaradırıq.</p>
                <button routerLink="/exterior-design" class="btn">DAHA ÇOX</button>
            </div>
        </div>
    </div>

</div>