@import "../../styles.scss";
.categories {
    background-color: $primaryColor;
    .row {
        padding: 40px 50px;
        div {
            padding: 20px;
            .category-col {
                height: 400px;
                background-color: #fff;
                text-align: center;
                position: relative;
                box-shadow: 1px 1px 10px black;
                transition: all 0.2s;
                &:hover {
                    box-shadow: 2px 2px 20px black;
                }
                .title {
                    position: relative;
                    font-weight: 700;
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 2px;
                        width: 70px;
                        background-color: gray;
                        left: 50%;
                        transform: translate(-50%, 0);
                    }
                }
                img {
                    width: 50%;
                    margin: 20px 0;
                }
                p {
                    font-size: 13px;
                    font-weight: 500;
                }
                button {
                    background-color: $primaryColor;
                    border-radius: 1.5em;
                    color: white;
                    font-size: 14px;
                    font-weight: 600px;
                    padding: 5px 20px;
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    &:hover {
                        background-color: #0B8321;
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .row {
        .category-col {
            height: 270px !important;
            p {
                display: none;
            }
        }
    }
}