<div class="about">
    <div class="about-top">
        HAQQIMIZDA
    </div>
    <div class="content">
        <p>Renova şirkəti uzun müddətli təmir və tikinti təcrübəsinə malikdir. Şirkətin əsas fəaliyyəti təmir, tikinti, interyer və eksteryer dizayn işləridir. Təcrübəli və peşakar komandamız təmir və tikinti işlərini ən müasir texnologiya, üslub və dizaynda
            həyata keçirir. Renova ev və mənzillərlə yanaşı, ofislərin, restoranların və ticarət obyektlərinin də təmirini həyata keçirir. Daim inkşafda olan şirkətimiz Bakı ilə yanaşı regionlarda da müxtəlif təmir və tikinti işlərini həyata keçirir.
            Gördüyü bütün işlərdə şəffaflıq və keyfiyyəti üstün tutan şirkətimiz uğurlu inkşafı özünə hədəf seçib.</p>
        <img src="../../assets/images/Mask Group 14.png" alt="about">
        <div class="blurImg"></div>
    </div>

    <section class="advantages">
        <div class="advantages-top">
            ÜSTÜNLÜKLƏRİMİZ
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="img">
                        <img src="../../assets/images/accuracy.png" alt="advantage">
                    </div>
                    <div class="title">Fərdi yanaşma</div>
                    <p>Hər kəsin evi onun üçün özəldir. Bunu başa düşürük və müştərilərimizin hər birinə fərdi yanaşma izləyirik. Hər bir müştərimizin xəyalı, təxəyyülü, gözləntisi və arzusu bizim üçün əsas ilham qaynağıdır.
                    </p>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="img">
                        <img src="../../assets/images/surface1.png" alt="advantage">
                    </div>
                    <div class="title">Keyfiyyət</div>
                    <p>Evimiz bizim xatirələrimizin yarandığı və daim yaşadığı yerdir. Xatirələrimiz ən keyfiyyətli məkana layiqdir. Biz inanırıq ki, işimizin əsas meyarı keyfiyyət olmalıdır. İstər dizayn, istər istifadə olunan materiallar, istərsə də işçilikdə
                        buna xüsusi diqqət edirik.</p>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="img">
                        <img src="../../assets/images/focus (1).png" alt="advantage">
                    </div>
                    <div class="title">Dəqiqlik</div>
                    <p>Əsasən iki istiqamətdə dəqiqliyə diqqət edirik: təmirin dizayna dəqiq uyğun işlənməsi; söz verdiyimiz zamanda təmirin başa çatdırılması. İstər işimizin nəticəsi, istərsə də müddəti baxımından dəqiqliyə tam riayət edirik.</p>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="img">
                        <img src="../../assets/images/cardiogram.png" alt="advantage">
                    </div>
                    <div class="title">Etibarlılıq</div>
                    <p>Şəffaf işləyirik. Gedişatın hər mərhələsini izləyə bilərsiniz və hər bir addım barədə məlumat əldə edə bilərsiniz. Sizin güvəniniz və bizə olan etibarınız hər şeydən daha qiymətlidir. Bunun qiymətini yaxşı başa düşürük.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="mission">
        <div class="mission-top">MİSSİYAMIZ</div>
        <p class="container">Sizin işlərinizdən ayrılmadan təmir və tikinti işlərinizi sizin əvəzinizə böyük məuliyyətlə yerinə yetiririk. </p>
    </div>
</div>