<div class="interior">
    <div class="interior-top">
        EKSTERYER DİZAYN
    </div>
    <div class="cover">
        <div class="img">
            <p>Sizə məxsus məkanın kənardan da çox cəlbedici görünməsi önəmlidir. Bu ilk təəssürat yaradır və biz bunu başa düşürük. Renova sizə müasir dəbə uyğun eksteryer dizayn xidməti təklif edir.</p>
        </div>
    </div>
    <div class="desc container">
        <p>Məkanınızın kənardan çox cəlbedici görünməsi ilk təəssürat baxımından əsas şərtdir. Peşəkar dizayner komandamız məkanınıza göz oxşayan görüntü bəxş edəcək. Boş torpaq sahənizin landaşt xüsusiyyətlərini nəzər alaraq zövqünüzü oxşayacaq, sevə-sevə
            istirahət edə biləcəyiniz bir məkan yarada bilərik. Peşəkar dizayner komandamız istəyinizi yerinə yetirmək müasir trendləri nəzərə alır və ən yeni texnologiyalardan istifadə edir.</p>
    </div>

    <div class="steps">
        <div class="container">
            <div class="steps-top">Xəyalınızdakı dizayn 3 addımda</div>
            <div class="steps-main">
                <img src="../../assets/images/exterior2.png" class="vertical" alt="steps">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title">Brif</div>
                        <div class="description">İlkin olaraq xəyalınızı dəqiq anlamaq üçün brif alınır</div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">Dizayn</div>
                        <div class="description">Alınan brifə əsasən dizayn eskizləri hazırlanır</div>
                    </div>
                    <div class="col-md-4">
                        <div class="title">Təhvil</div>
                        <div class="description">Razılaşdırılmış vaxtda dizayn təhvil verilir.</div>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/exterior1.png" class="horizontal" alt="steps">
        </div>
    </div>
</div>