<div class="building">
    <div class="building-top">
        TƏMİR
    </div>
    <div class="cover">
        <div class="img">
            <p>Tikinti ehtiyaclarınızı Renovan şirkətinin peşəkar memar, dizayner, mühəndis və digər üzləri ilə birlikdə müasir standartlarda həll edə bilərsiniz.</p>
        </div>
    </div>
    <div class="desc container">
        <p>Tikinti sahəsində zəngin təcrübəyə malik şirkətimiz rahatlığınızı ön planda tutaraq müasir texnologiyanın vasitəsilə istənilən növ tikinti işlərini həyata keçirir. İstənilən növ tikinti zaman və artıq xərc tələb edir. Şirkətmiz sizi bu çətinliklərdən
            xilas etmək üçün xidmətinizdədir. Peşəkar komandamız sizə obyektin interyer və eksteyer dizaynı daxil olmaqla bütün layihəni öncədən hazırlayır və sizin tikinti işlərinizi böyük ustalıqla yerinə yetirir.</p>
    </div>

    <div class="steps">
        <div class="container">
            <div class="steps-top">Xəyalınızdakı məkan 4 addımda</div>
            <div class="row">
                <div class="col-12 d-md-none img"><img src="../../assets/images/Group 361.png" alt="steps"></div>
                <div class="col-md-3 col-6">
                    <div class="title">Diaqnostika</div>
                    <div class="description">Hər kəsin evi onun üçün özəldir. Bunu başa düşürük və müştərilərimizin hər birinə fərdi yanaşma izləyirik. Hər bir müştərimizin xəyalı, təxəyyülü, gözləntisi və arzusu bizim üçün əsas ilham qaynağıdır.</div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="title">Layihələndirmə</div>
                    <div class="description">Evimiz bizim xatirələrimizin yarandığı və daim yaşadığı yerdir. Xatirələrimiz ən keyfiyyətli məkana layiqdir. Biz inanırıq ki, işimizin əsas meyarı keyfiyyət olmalıdır. İstər dizayn, istər istifadə olunan materiallar, istərsə də işçilikdə
                        buna xüsusi diqqət edirik.</div>
                </div>
                <div class="col-12 d-md-none img"><img src="../../assets/images/Group 360.png" alt="steps"></div>
                <div class="col-md-3 col-6">
                    <div class="title">Tikinti</div>
                    <div class="description">Əsasən iki istiqamətdə dəqiqliyə diqqət edirik: təmirin dizayna dəqiq uyğun işlənməsi; söz verdiyimiz zamanda təmirin başa çatdırılması. İstər işimizin nəticəsi, istərsə də müddəti baxımından dəqiqliyə tam riayət edirik.</div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="title">Təhvil</div>
                    <div class="description">Şəffaf işləyirik. Gedişatın hər mərhələsini izləyə bilərsiniz və hər bir addım barədə məlumat əldə edə bilərsiniz. Sizin güvəniniz və bizə olan etibarınız hər şeydən daha qiymətlidir. Bunun qiymətini yaxşı başa düşürük.</div>
                </div>
                <div class="col-12 d-none d-md-block img"><img src="../../assets/images/service2.png" alt="steps"></div>
            </div>
        </div>
    </div>

</div>