<div class="services">
    <div class="services-top">
        XİDMƏTLƏRİMİZ
    </div>
    <div class="container">
        <p class="container">Yeni məkan tikmək istəyirsiniz və ya məkanınızın təmirə ehtiyacı varsa bunu peşakarlara həvalə edin. İşin həcmindən asılı olmayaraq təmir və tikinti işlərinizdə hər zaman etibarlı dostunuz olaraq yanınızdayıq. İşinizdən ayrılmadan, vaxtınızı təmir
            tikinti işlərinə sərf etmədən, etibar edə biləcəyiniz yüksək keyfiyyətli xidmətlər təklif edirik. </p>
    </div>
    <app-service-category></app-service-category>
    <div class="gift">
        <div class="container">
            <div class="title">Dizaynı hədiyyə edirik!</div>
            <p>Təmir xidmətimizi sifariş etdiyiniz zaman interyer dizaynı hədiyyə edirik. Razısınız? Elə indi əlaqə saxlayın.</p>
            <img class="down" src="../../assets/images/Group 251.png" alt="arrow">
        </div>
    </div>
</div>