<div class="cover">
    <div class="main">
        <img src="../../assets/images/Mask Group 6.png" alt="cover">
        <div class="content">
            <div class="title">
                Xəyalınızdakı evi <span>təmir edirik</span>
            </div>
            <div class="description">Peşəkar interyer dizayn və ev təmiri komandamızla xəyallarınızdakı evin reallaşması üçün çalışırıq.</div>
        </div>
    </div>
    <div class="down">
        <span>AŞAĞI</span>
        <a href="#"><img src="../../assets/images/Group 87.png" alt="downArrow"></a>
    </div>
</div>

<section class="services">
    <div class="services-top">
        XİDMƏTLƏRİMİZ
    </div>
    <app-service-category></app-service-category>
    <section>

        <section class="works">
            <div class="works-top">
                NECƏ İŞLƏYİRİK?
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <div class="number">01
                            <hr style="opacity: 25%;">
                        </div>
                        <div class="title">Sizi dinləyirik</div>
                        <p>Bizimlə görüşməyə hazırsınız? Görüş zamanı sizin xəyallarınızı dinləyəcəyik. Hansı tərzdə təmir istədiyinizi, eviniz haqqında spesifik məlumatları, dizayn haqqında gözləntilərinizi və ən incə detalları aydınlaşdırırıq.</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="number">02
                            <hr style="opacity: 50%;">
                        </div>
                        <div class="title">Təklif veririk</div>
                        <p>İstəklərinizi ən keyfiyyətli və ən sərfəli şəkildə necə həyata keçirəcəyiniz barədə çox düşünməyin. Artıq biz varıq və bunu sizin üçün həll edirik. Keyfiyyət və dəqiqlik bizim üçün mühüm faktordur. Sizin xəyallarınızı reallaşdırmaq
                            üçün təklif veririk.
                        </p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="number">03
                            <hr style="opacity: 75%;">
                        </div>
                        <div class="title">Dizayn edirik</div>
                        <p>Bilirsiz? Təmiri bizə həvalə etdiyiniz zaman dizaynı hədiyyə edirik. Memar və interyer dizayn komandamız real materiallar, aksesuarlar və mebellərə əsaslanan dizayn hazırlayır və təmirin 100% uyğunluğuna nəzarət edir.</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="number">04
                            <hr>
                        </div>
                        <div class="title">Təmir edirik</div>
                        <p>Evinizi bütövlükdə, yaxud hər hansı bir spesifik guşəsini dəqiqliklə təmir edirik. Sizin nəzarətinizdə! Təmirin hər bir anından xəbəriniz olur və söz verdiyimiz zamanda təmir işləriniz ən keyfiyyətli formada təhvil veririk.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="advantages">
            <div class="advantages-top">
                ÜSTÜNLÜKLƏRİMİZ
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <div class="img">
                            <img src="../../assets/images/Group 232.png" alt="advantages">
                        </div>
                        <div class="title">Müasir dizayn</div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="img">
                            <img src="../../assets/images/eye.png" alt="advantages">
                        </div>
                        <div class="title">Layihəyə nəzarət</div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="img">
                            <img src="../../assets/images/team.png" alt="advantages">
                        </div>
                        <div class="title">Peşəkar komanda</div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="img">
                            <img src="../../assets/images/clock.png" alt="advantages">
                        </div>
                        <div class="title">Vaxtınıza qənaət</div>
                    </div>
                </div>
            </div>
        </section>