<div class="works">
    <div class="works-top">
        GÖRDÜYÜMÜZ İŞLƏR
    </div>
    <div class="desc container">Sevə-sevə həyata keçirdiyimiz işlərimizi təqdim edirik.</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="works-col" routerLink="/repair-ex1">
                    <div class="img">
                        <img src="../../assets/images/works.png" alt="works">
                    </div>
                    <div class="title">Ev təmiri 1</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-col" routerLink="/repair-ex2">
                    <div class="img">
                        <img src="../../assets/images/works.png" alt="works">
                    </div>
                    <div class="title">Ev təmiri 2</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-col" routerLink="/repair-ex1">
                    <div class="img">
                        <img src="../../assets/images/works.png" alt="works">
                    </div>
                    <div class="title">Ev təmiri 1</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-col" routerLink="/repair-ex2">
                    <div class="img">
                        <img src="../../assets/images/works.png" alt="works">
                    </div>
                    <div class="title">Ev təmiri 2</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-col" routerLink="/repair-ex1">
                    <div class="img">
                        <img src="../../assets/images/works.png" alt="works">
                    </div>
                    <div class="title">Ev təmiri 1</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="works-col" routerLink="/repair-ex2">
                    <div class="img">
                        <img src="../../assets/images/works.png" alt="works">
                    </div>
                    <div class="title">Ev təmiri 2</div>
                </div>
            </div>
        </div>
    </div>
</div>